.container {
  display: grid;
  place-content: center;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.offer {
  background-color: rgb(65, 65, 81);
  color: white;
  animation: showingOffer 2s infinite forwards;
  border-radius: 20px;
  width: 700px;
  text-align: center;
  text-transform: uppercase;
}

@keyframes showingOffer {
  0% {
    scale: 0.5
  }

  75% {
    scale: 1
  }
}
